[submodule "avp_teleoperate"]
	path = avp_teleoperate
	url = git@github.com:unitreerobotics/avp_teleoperate.git
[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = git@github.com:unitreerobotics/unitree_sdk2_python.git
[submodule "sam"]
	path = sam
	url = git@github.com:facebookresearch/segment-anything.git
